<!DOCTYPE html>
<html>

<head>
    <title>Player Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/franken-ui@1.1.0/dist/css/core.min.css" />
    <script src="https://unpkg.com/franken-ui@1.1.0/dist/js/core.iife.js" type="module"></script>
    <script src="https://unpkg.com/franken-ui@1.1.0/dist/js/icon.iife.js" type="module"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.6/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
</head>

<body class="bg-background text-foreground">
    <h1 class="text-center text-4xl">{{ player_name }}'s Statistics</h1>
    <br>
    <p class="text-center text-xl">Last updated {{ update_time }}</p>
    <br>
    <div class="flex flex-wrap justify-center">
        <!-- Chart Container -->
        <div class="w-full p-4 h-full flex chart-container">
            <canvas id="playerChart"></canvas>
        </div>
    </div>
    
    
    <script>
        const ctx = document.getElementById('playerChart');

        var labels = {{ labels | safe }};
        var money = {{ money | safe }};
        const data = {
            labels: labels,
            datasets: [
                {
                    label: 'Money',
                    data: money,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                }
            ]
        };
        const config = {
            type: 'line',
            data: data,
            options: {
                maintainAspectRatio: false,
                scales: {
                    x: {
                        display: false, // Hides the x-axis labels
                    },
                },
                plugins: {
                    scales: {
                        display: false // Hides the dataset labels from the legend
                    },
                    zoom: {
                        zoom: {
                            wheel: {
                                enabled: true,
                            },
                            pinch: {
                                enabled: true
                            },
                            mode: 'x',
                        },
                        pan: {
                            enabled: true
                        }
                    },

                }
            }
        };

        var myLineChart = new Chart(ctx, config);
        window.addEventListener('resize', () => {
            myLineChart.resize();
        });
    </script>

</body>

</html>
